.home-container{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}

.card-container{
    height: 100%;
    width: 100%;
}


.sidenav-container{
    height: 100%;
    justify-content: space-between;
}

mat-sidenav-container{
    border-radius: 8px;
}

mat-sidenav {
    width: 35%;
    text-align: start;
    transform: none;
    background-color: #F7F7F7;
    border-right: 1px solid #5B729A;
    h3{
        padding-left: 24px;
        padding-top: 24px;
        color: #5B729A;
        opacity: 35%;
        font-size: 12px;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    &.mat-drawer{
        visibility: visible !important;
        display: revert;
    }
}

.menu-button{
    text-align: start;
    color: #5B729A;
    opacity: 90%;
    font-size: 18px;
    font-weight: 400;
    padding: 0 24px;
    line-height: 56px;
    letter-spacing: 1.3px;
}

.add-btn{
    background-color: #E9E9E9;
    color: #5B729A;
    box-shadow: none;
}

.add-btn:focus{
    background-color: #5B729A;
    color: #F7F7F7;
}

.add-btn-container{
    position: absolute;
    bottom: 0;
    padding: 0 0 16px 16px;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #F7F7F7;

    color: #5B729A;

    .notes-container {
        width: 65%;
        height: 100%;
        padding-top: 24px;
        
        .date-container{
            width: 100%;
            padding-left: 24px;
            h3{
                color: #5B729A;
                opacity: 35%;
                font-size: 12px;
                margin-bottom: 0;
                text-transform: uppercase;
            }
    
        }

        .my-note-container{
            width: 100%;
            height: 100%;

            .note-title{
                margin-bottom: 16px;
                height: 36px;
                h2{
                    color: #5B729A;
                    font-size: 32px;
                    letter-spacing: 1.3px;
                    margin: 0;
                    line-height: 42px;
                    font-weight: 400;
                }
            }

            .note-text{
                height: 100%;
                
            }

            .form-container{
                height: 100%;
            }
        }
        
        
        
    }
    
}

.mat-form-field-wrapper{
    height: 100%;
    width: 100%;
}

mat-sidenav-container {
    height: 100%;
    background-color: #F7F7F7;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field .mat-form-field-outline {
    opacity: 0;
}

::ng-deep .mat-input-element{
    font-size: 24px;
}

.mat-input-element.mat-form-field-autofill-control{
    font-size: 24px;
}
.mat-input-element.mat-form-field-autofill-control::placeholder{
    color: #a6b6c6;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
    padding: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-width: 0px !important;
    color: #e0e0e0;
}