<div class="home-container">
    <div class="row m-0 card-container">
        <div class="col p-0">
            <mat-sidenav-container>
                <mat-sidenav>
                    <div class="test-container display-flex flex-column">
                        <div class="notes-container d-flex flex-column">
                            <div>
                                <h3>Your notes</h3>
                            </div>
                            <div class="btn-container d-flex flex-column">
                                <button mat-button class="menu-button">
                                    <span>Cry me a river</span>
                                </button>
                                <button mat-button class="menu-button">
                                    <span>Profile</span>
                                </button>
                                <button mat-button class="menu-button">
                                    <span>About</span>
                                </button>
                        
                                <button mat-button class="menu-button">
                                    <span>Help</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="add-btn-container">
                        <button mat-mini-fab class="add-btn">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </mat-sidenav>
                <mat-sidenav-content>
                    <div class="content mat-elevation-z8">
                        Main content here!
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>
