.home-container{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}

.card-container{
    height: 100%;
    width: 100%;
}

.notes-container{
    background-color: #F7F7F7;
}

.test-container{
    height: 100%;
    justify-content: space-between;
}

mat-sidenav {
    width: 35%;
    text-align: start;
    transform: none;
    background-color: #F7F7F7;
    border-right: 1px solid #5B729A;
    h3{
        padding-left: 24px;
        padding-top: 24px;
        color: #5B729A;
        opacity: 35%;
        font-size: 12px;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    &.mat-drawer{
        visibility: visible !important;
        display: revert;
    }
}

.menu-button{
    text-align: start;
    color: #5B729A;
    opacity: 90%;
    font-size: 18px;
    font-weight: 400;
    padding: 0 24px;
    line-height: 56px;
    letter-spacing: 1.3px;
}

.add-btn{
    background-color: #E9E9E9;
    color: #5B729A;
    box-shadow: none;
}

.add-btn:focus{
    background-color: #5B729A;
    color: #F7F7F7;
}

.add-btn-container{
    position: absolute;
    bottom: 0;
    padding: 0 0 16px 16px;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #5B729A;
    opacity: 65%;
}

mat-sidenav-container {
    height: 100%;
    background-color: #F7F7F7;
}
